html {
  background-color: #efefef;
  text-align: center;




  body {
    width: 65%;
    height: inherit;
    background-color: white;
    padding-bottom: 90%;
    display: inline-block;
    margin: auto;
    text-align: center;
  }
}